<footer
  id="footer"
  class="bottom-0 left-0 bg-black bg-opacity-50 py-10 w-full h-12 font-fuente text-center abosolute"
>

  <p></p>
  <p class="font-bold text-center text-opacity-60">
    @2025 QRIO. Todos los derechos reservados
  </p>
</footer>