<footer
  id="footer"
  class="w-full text-center py-10 font-fuente bottom-0 left-0 h-12 bg-black bg-opacity-50"> <!-- bg-opacity-50 controla la transparencia -->
  <p> </p>
  <p class="text-center font-bold text-opacity-60">@2025 QRIO. Todos los derechos reservados</p>
</footer>

