<header class="grid grid-cols-3 bg-color1 lg:mx-52 my-5 rounded-xl font-fuente">

    <div class="hover:bg-color2 focus:bg-color2 px-5 pt-10 pb-8 rounded-xl text-center">
        <a href="/coleccion" class="font-bold text-xl lg:text-2xl">Colección</a>
    </div>
    <div class="hover:bg-color2 focus:bg-color2 px-5 pt-10 pb-8 rounded-xl text-center">
        <a href="/medallas" class="font-bold text-xl lg:text-2xl">Medallas</a>
    </div>
    <div class="hover:bg-color2 focus:bg-color2 px-5 pt-10 pb-8 rounded-xl text-center">
        <a href="/comunidad" class="font-bold text-xl lg:text-2xl">Comunidad</a>
    </div>
</header>