<header class="grid grid-cols-3 bg-color1 px-5 pt-10 pb-8 font-fuente">
    <a href="" class="font-bold text-center text-xl">Colección</a>
    <a href="" class="font-bold text-center text-xl">Medallas</a>
    <a href="" class="font-bold text-center text-xl">Comunidad</a>
</header>