---
import Layout from "../layouts/Layout.astro";
---

<Layout>

    <section class="w-full h-screen bg-[#bea099]"> <!--Fondo marrón-->
        <img src="/images/seta.png" alt="Figura de seta" class=" absolute bottom-12 right-12 w-24">
    </section>
</Layout>