---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="bg-[#4E342E]"> <!--Fondo marrón oscuro -->
        <img src="seta.png" alt="Figura de seta" class="absolute bottom-5 left-5 w-24">
    </section>
</Layout>