---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <main class="py-16">
<body class="bg-[#EAD8C5]"></body>
    <div class="md:block hidden md:mt-10 md:mr-60 md:ml-60 font-fuente text-xl"><b><p>¡Hola, Qriosos!

      Cada vez que uno de ustedes comparte una curiosidad aquí, es como agregar una nueva joya a nuestro tesoro colectivo de asombro.
      
      Así que adelante, queridos qriosos, abran sus mentes y compartan sus conocimientos. Juntos, podemos seguir alimentando esta llama de la qriosidad que nos impulsa a explorar el mundo que nos rodea.
      </p></b>
    </div>
    <section class="flex justify-center mt-14">
      <div class="flex justify-center items-center md:mr-5 md:ml-8 md:h-full">
        <!-- Imagen para PC -->
        <img 
          src="/Elementos_Qrio/sobres.png" 
          alt="Imagen para PC" 
          class="md:block hidden w-1/2 md:w-60">
        
        <!-- Imagen para Móvil -->
        <img 
          src="/Elementos_Qrio/seta_con_texto.png"
          alt="Imagen para Móvil" 
          class="block md:hidden w-3/4">
      </div>
      
      </section>      
    <section class="flex justify-center mt-20 md:mt-14">
        <button class="border-2 bg-color1 border-black rounded-2xl w-52 h-14 font-bold text-lg"><b>Añade tu Qriosidad.</b></button>
    </section>
</body>
</main>
</Layout>