---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <main>
<body>
    <div class="md:block hidden bg-color2 shadow-[0_10px_5px_rgba(0,0,0,0.35)] md:mt-10 md:mr-60 md:ml-60 p-4 border-black rounded-2xl font-fuente text-xl"><b><p>¡Hola, Qriosos!

      Cada vez que uno de ustedes comparte una curiosidad aquí, es como agregar una nueva joya a nuestro tesoro colectivo de asombro.
      
      Así que adelante, queridos qriosos, abran sus mentes y compartan sus conocimientos. Juntos, podemos seguir alimentando esta llama de la qriosidad que nos impulsa a explorar el mundo que nos rodea.
      </p></b>
    </div>
    <section class="flex justify-center mt-14">
      <div class="flex justify-center items-center md:mr-5 md:ml-8 md:h-full">
        <!-- Imagen para PC -->
        <img 
          src="/Elementos_Qrio/sobres.png" 
          alt="Imagen para PC" 
          class="hover:scale-110 md:block hidden w-1/2 md:w-60 duration-300 ease-in">
        
        <!-- Imagen para Móvil -->
        <img 
          src="/Elementos_Qrio/seta_con_texto.png"
          alt="Imagen para Móvil" 
          class="block md:hidden w-3/4">
      </div>
      
      </section>      
      <section class="flex justify-center mt-20 md:mt-14">
        <a href="/formulario" class="hover:scale-105 flex justify-center items-center border-2 bg-color2 shadow-[0_10px_5px_rgba(0,0,0,0.35)] hover:shadow-[0_10px_25px_rgba(0,0,0,0.35)] border-black rounded-2xl w-52 h-14 font-bold text-lg duration-300 ease-in">
            <b>Añade tu Qriosidad.</b>
        </a>
    </section>
    
</body>
</main>
</Layout>