<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Mi primera página con Astro" />
    <title>Mi página Astro</title>
    <style>
      @font-face {
        font-family: 'League Spartan';
        src: url("/public/fonts/LeagueSpartan-VariableFont_wght.ttf");
      }

      body {
        margin: 0;
        background-color: #EAD8C5;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 100vh;
        font-family: 'League Spartan', sans-serif;
        padding: 0 40px;
        position: relative;
      }

      .body-container {
        width: 100%;
        max-width: 800px;
        padding-top: 20px;
        margin-bottom: 150px;
        height: 100%;
      }

      .container {
        background-color: #F4E8DF;
        border-radius: 10px;
        padding: 40px;
        text-align: center;
        width: 100%;
        max-width: 900px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        margin-top: 20px;
        margin-bottom: 20px;
        height: calc(100vh - 80px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
      }

      .top-left-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
      }

      .bottom-right-image {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100px;
      }

      .top-right-seta {
        position: absolute;
        top: 0;
        right: 0;
        width: 80px;
      }

      .email-input {
        width: 100%;
        padding: 12px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        margin-bottom: 20px;
        font-size: 16px;
        background-color: white;
        color: #333;
        box-sizing: border-box;
      }

      .input-field {
        width: 100%;
        padding: 12px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        margin: 8px 0;
        font-size: 16px;
        resize: none;
        background-color: white;
        color: #333;
        box-sizing: border-box;
        flex-grow: 1;
      }

      .select-dropdown {
        width: 100%;
        padding: 12px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        font-size: 16px;
        background-color: white;
        color: #333;
        box-sizing: border-box;
        margin-bottom: 20px;
        cursor: pointer;
        justify-items: center;
      }

      .buttons-container {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
      }

      .left-btn {
        padding: 12px 20px;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
        background-color: #EB585B;
        color: white;
        width: 65%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        transition: background-color 0.3s ease;
      }

      .left-btn:hover {
        background-color: #D84E4E;
      }

      @media (max-width: 768px) {
        .container {
          padding: 20px;
        }

        .email-input {
          font-size: 14px;
          padding: 15px;
        }

        .input-field {
          font-size: 14px;
          padding: 15px;
          height: 350px;
        }

        .buttons-container {
          flex-direction: column;
          align-items: center;
        }

        .left-btn {
          width: 80%;
        }
      }

      @media (max-width: 480px) {
        h1 {
          font-size: 20px;
        }
      }

      @media (min-width: 800px) and (max-width: 900px) {
        .container {
          width: 70%;
          padding: 40px;
        }

        .email-input {
          font-size: 18px;
          padding: 15px 25px;
        }

        .input-field {
          height: 350px;
          font-size: 18px;
        }

        .left-btn {
          padding: 15px 25px;
        }
      }
    </style>
  </head>
  <body>
    <div class="body-container">
      <div class="container">
        <img src="Elementos_Qrio/esquina.png" alt="Imagen Esquina" class="top-left-image" />
        <img src="Elementos_Qrio/esquina2.png" alt="Imagen Esquina 2" class="bottom-right-image" />
        <img src="Elementos_Qrio/seta.png" alt="Imagen Seta" class="top-right-seta" />
        <input class="email-input" type="email" placeholder="Ingresa tu correo..." required />
        <textarea class="input-field" placeholder="Escribe aquí..."></textarea>
        <select class="select-dropdown">
          <option value="">Selecciona el tipo de Qrio</option>
          <option value="opcion1">Gastronomía</option>
          <option value="opcion2">Arte</option>
          <option value="opcion3">Deporte</option>
          <option value="opcion4">Biologia</option>
          <option value="opcion4">Astronomía</option>
          <option value="opcion4">Historia</option>
          <option value="opcion4">Informática</option>
          <option value="opcion4">Ed. Sexual</option>
          <option value="opcion4">Cine</option>
        </select>
        <div class="buttons-container">
          <button class="left-btn" id="send_email">Enviar</button>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script type="text/javascript">
      emailjs.init("pAOUPkYqSC18eV5T-");

      document.getElementById("send_email").addEventListener("click", function(event) {
        event.preventDefault();
        var userEmail = document.querySelector(".email-input").value;
        var message = document.querySelector(".input-field").value;
        var qrioType = document.querySelector(".select-dropdown").value;

        if (!userEmail || !message || !qrioType) {
          alert("Por favor, completa todos los campos.");
          return;
        }

        var formData = {
          from_name: userEmail,
          to_name: "Nombre destinatario",
          email_id: userEmail,
          message: message,
          qrio_type: qrioType
        };

        emailjs.send("service_sg9yltp", "template_us27k9c", formData)
          .then((response) => {
            alert("Mensaje enviado con éxito");
          })
          .catch((error) => {
            alert("Error al enviar el mensaje: " + error);
          });
      });
    </script>
  </body>
</html>
