---
import Sobre from "../components/Sobre.astro";
import Layout_index from "../layouts/Layout_index.astro";
---

<Layout_index title = "QRIO">
    <main>
        <Sobre />
    </main>
</Layout_index>