---
import Layout from '../layouts/Layout.astro';
import Sobre from '../components/Sobre.astro';
---

<Layout title = "QRIO" class="mb-2">
    <main class="flex-1  py-16">
        <Sobre />
    </main>
</Layout>
