---
import LayoutMedallas from '../layouts/LayoutMedallas.astro';
---

<LayoutMedallas>
    <br>
    <div class="relative bg-[#ffffff] shadow-[0_10px_5px_rgba(0,0,0,0.35)] hover:shadow-[0_10px_25px_rgba(0,0,0,0.35)] mx-auto p-4 rounded-[50px] w-80 md:w-[80%] hover:scale-105 duration-300 ease-in">
        <!-- Imagen en la esquina -->
        <img src="esquina.png" alt="Decoración esquina" class="top-[-20px] left-[-20px] absolute w-56 h-56">
        <div class="md:gap-6 md:grid md:grid-cols-3">
            <!-- Categoría Gastronomía -->
            <div class="mb-6 pt-10">
                <div class="flex flex-col items-center">


                    <!-- Título como imagen -->
                    <div class="mb-4">
                        <img src="gastronomia.png" alt="" class="w-28 h-14">
                    </div>


                    <!-- Medallas -->
                    <div class="flex justify-around bg-color1 shadow-[0_10px_5px_rgba(0,0,0,0.35)] rounded-2xl w-full h-4">
                        <div class="rounded-full w-10 h-10">
                            <img src="medalla_oro.png" alt="">
                        </div>
                        <div class="rounded-full w-10 h-10">
                            <img src="medalla_plata.png" alt="">
                        </div>
                        <div class="rounded-full w-10 h-10">
                            <img src="medalla_bronce.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Categoría Arte -->
            <div class="mb-6 pt-10">
                <div class="flex flex-col items-center">


                    <!-- Título como imagen -->
                    <div class="mb-4">
                        <img src="Arte.png" alt="" class="w-28 h-14">
                    </div>


                    <!-- Medallas -->
                    <div class="flex justify-around bg-color1 shadow-[0_10px_5px_rgba(0,0,0,0.35)] rounded-2xl w-full h-4">
                        <div class="rounded-full w-10 h-10">
                            <img src="medalla.png" alt="">
                        </div>
                        <div class="rounded-full w-10 h-10">
                            <img src="medalla.png" alt="">
                        </div>
                        <div class="rounded-full w-10 h-10">
                            <img src="medalla_bronce.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Categoría Deporte -->
            <div class="mb-6 pt-10">
                <div class="flex flex-col items-center">


                    <!-- Título como imagen -->
                    <div class="mb-4">
                        <img src="deporte.png" alt="" class="w-28 h-14">
                    </div>


                    <!-- Medallas -->
                    <div class="flex justify-around bg-color1 shadow-[0_10px_5px_rgba(0,0,0,0.35)] rounded-2xl w-full h-4">
                        <div class="rounded-full w-10 h-10">
                            <img src="medalla_oro.png" alt="">
                        </div>
                        <div class="rounded-full w-10 h-10">
                            <img src="medalla_plata.png" alt="">
                        </div>
                        <div class="rounded-full w-10 h-10">
                            <img src="medalla_bronce.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Categoria Biologia -->
            <div class="mb-6 pt-10">
                <div class="flex flex-col items-center">


                    <!-- Título como imagen -->
                    <div class="mb-4">
                        <img src="biologia.png" alt="" class="w-28 h-14">
                    </div>


                    <!-- Medallas -->
                    <div class="flex justify-around bg-color1 shadow-[0_10px_5px_rgba(0,0,0,0.35)] rounded-2xl w-full h-4">
                        <div class="rounded-full w-10 h-10">
                            <img src="medalla.png" alt="">
                        </div>
                        <div class="rounded-full w-10 h-10">
                            <img src="medalla_plata.png" alt="">
                        </div>
                        <div class="rounded-full w-10 h-10">
                            <img src="medalla_bronce.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Categoria Astronomia -->
            <div class="mb-6 pt-10">
                <div class="flex flex-col items-center">


                    <!-- Título como imagen -->
                    <div class="mb-4">
                        <img src="astronomia.png" alt="" class="w-28 h-14">
                    </div>


                    <!-- Medallas -->
                    <div class="flex justify-around bg-color1 shadow-[0_10px_5px_rgba(0,0,0,0.35)] rounded-2xl w-full h-4">
                        <div class="rounded-full w-10 h-10">
                            <img src="medalla.png" alt="">
                        </div>
                        <div class="rounded-full w-10 h-10">
                            <img src="medalla.png" alt="">
                        </div>
                        <div class="rounded-full w-10 h-10">
                            <img src="medalla_bronce.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Categoria Historia -->
            <div class="mb-6 pt-10">
                <div class="flex flex-col items-center">


                    <!-- Título como imagen -->
                    <div class="mb-4">
                        <img src="historia.png" alt="" class="w-28 h-14">
                    </div>


                    <!-- Medallas -->
                    <div class="flex justify-around bg-color1 shadow-[0_10px_5px_rgba(0,0,0,0.35)] rounded-2xl w-full h-4">
                        <div class="rounded-full w-10 h-10">
                            <img src="medalla.png" alt="">
                        </div>
                        <div class="rounded-full w-10 h-10">
                            <img src="medalla_plata.png" alt="">
                        </div>
                        <div class="rounded-full w-10 h-10">
                            <img src="medalla_bronce.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Categoria Informatica -->
            <div class="mb-6 pt-10">
                <div class="flex flex-col items-center">


                    <!-- Título como imagen -->
                    <div class="mb-4">
                        <img src="infor.png" alt="" class="w-28 h-14">
                    </div>


                    <!-- Medallas -->
                    <div class="flex justify-around bg-color1 shadow-[0_10px_5px_rgba(0,0,0,0.35)] rounded-2xl w-full h-4">
                        <div class="rounded-full w-10 h-10">
                            <img src="medalla_oro.png" alt="">
                        </div>
                        <div class="rounded-full w-10 h-10">
                            <img src="medalla_plata.png" alt="">
                        </div>
                        <div class="rounded-full w-10 h-10">
                            <img src="medalla_bronce.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Categoria Educacion Sexual -->
            <div class="mb-6 pt-10">
                <div class="flex flex-col items-center">


                    <!-- Título como imagen -->
                    <div class="mb-4">
                        <img src="ed.sex.png" alt="" class="w-28 h-14">
                    </div>


                    <!-- Medallas -->
                    <div class="flex justify-around bg-color1 shadow-[0_10px_5px_rgba(0,0,0,0.35)] rounded-2xl w-full h-4">
                        <div class="rounded-full w-10 h-10">
                            <img src="medalla.png" alt="">
                        </div>
                        <div class="rounded-full w-10 h-10">
                            <img src="medalla.png" alt="">
                        </div>
                        <div class="rounded-full w-10 h-10">
                            <img src="medalla.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Categoria Cine -->
            <div class="mb-6 pt-10">
                <div class="flex flex-col items-center">


                    <!-- Título como imagen -->
                    <div class="mb-4">
                        <img src="cine.png" alt="" class="w-28 h-14">
                    </div>


                    <!-- Medallas -->
                    <div class="flex justify-around [border-color:#f9ede1] bg-color1 shadow-[0_10px_5px_rgba(0,0,0,0.35)] border rounded-2xl w-full h-4">
                        <div class="rounded-full w-10 h-10">
                            <img src="medalla.png" alt="">
                        </div>
                        <div class="rounded-full w-10 h-10">
                            <img src="medalla.png" alt="">
                        </div>
                        <div class="rounded-full w-10 h-10">
                            <img src="medalla_bronce.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <!-- Personaje -->
        <div class="right-0 bottom-2 absolute md:pt-5 rounded-full w-16 md:w-28 h-16 md:h-28">
            <br>
            <img src="seta.png" alt="" class="">
        </div>
    </div>
    <br><br><br><br><br><br>
</LayoutMedallas>
