---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<br>
	<div class="w-80 [background-color:#ffffff] border drop-shadow-lg [border-color:#000000] rounded-lg shadow-md p-4 relative mx-auto ">
        
        <div>
            <!-- Categoría Gastronomía -->
            <div class="mb-6">
                <h2 class="text-center text-lg font-bold text-[#E57373] mb-2">Gastronomía</h2>
                <div class="flex justify-around">
                    <div class="w-10 h-10  rounded-full">
						<img src="medalla_bronce.png" alt="">
					</div>
                    <div class="w-10 h-10  rounded-full">
						<img src="medalla.png" alt="">
					</div>
                    <div class="w-10 h-10  rounded-full">
						<img src="medalla.png" alt="">
					</div>
                </div>
            </div>
            <!-- Categoría Arte -->
            <div class="mb-6 pt-10">
                <h2 class="text-center text-lg font-bold text-[#81C784] mb-2">Arte</h2>
                <div class="flex justify-around">
                    <div class="w-10 h-10  rounded-full">
						<img src="medalla_bronce.png" alt="">
					</div>
                    <div class="w-10 h-10  rounded-full">
						<img src="medalla_plata.png" alt="">
					</div>
                    <div class="w-10 h-10  rounded-full">
						<img src="medalla.png" alt="">
					</div>
                </div>
            </div>
            <!-- Categoría Biología -->
            <div class="pt-10">
                <h2 class="text-center text-lg font-bold text-[#4FC3F7] mb-2">Biología</h2>
                <div class="flex justify-around">
                    <div class="w-10 h-10  rounded-full">
						<img src="medalla_bronce.png" alt="">
					</div>
                    <div class="w-10 h-10  rounded-full">
						<img src="medalla_plata.png" alt="">
					</div>
                    <div class="w-10 h-10  rounded-full">
						<img src="medalla_oro.png" alt="">
					</div>
                </div>
            </div>
			<br>
        </div>
        <!-- Personaje -->
        <div class="absolute bottom-2 left-2 w-16 h-16 rounded-full">
			<br>
			<img src="seta.png" alt="">
		</div>
    </div>
</Layout>
